<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>_ToDo List_ | Home</title>
</head>
<style>
    body{
    text-align: center;
    }
    header{
        color:pink;
    }
    h1{
    text-align: center;
    }
    a{
    text-decoration:none;
    background:pink;
    padding:1rem;
    text-align: center;
    width:30px;
    }
    .list{
    margin:auto;
    width:30%;
    display:grid;
    grid-templates-column: 1fr 2fr;
    background:pink;
    }
</style>
<body>
    <header>
        <h1>_ToDo List_</h1>
    </header>
    {% if user.is_authenticated %}
    <p>Welcome ,{{ user.username }}</p>
    {% endif %}
    <p>The list</p>

{% if user.is_authenticated %}
    {% for Todo in todolist %}
        <div class="list">

            <div class="list-content">
                <p>{{Todo.date}}</p>
                <p> {{Todo.todo}}  <input type="checkbox"></p>
            </div>
        </div>
    {% endfor %}
    {% endif %}


{% if user.is_authenticated %}
    <a href="logout">Logout</a>
{% else %}
    <a href="login">Login</a>
{% endif %}


</body>
</html>